body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  position: relative;
}


body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120vw;
  height: 120vh;     
  background-image: url('pic/Leaves.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  z-index: -1; 
}

::selection {
  color: #DDEAE4; 
  background:#00321D;      
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
}


.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  color: #00321D;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
}

nav {
  display: flex;
  gap: 55px;
  margin-left: -60px;
}

nav button {
  background: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #00321D;
  cursor: pointer;
  transition: color 0.3s ease;
  line-height: 1;
  margin: 0;
}

.lang-switch {
  display: flex;
  gap: 12px;
  cursor: pointer;
  user-select: text;
}

.lang-option {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  transition: color 0.2s ease; 
  
  color: #C2C2C2; /
}
.lang-option.active {
  color: #00321D; 
}




main {
  width: 850px;
  min-height: calc(100vh - 120px); 
  margin: 100px auto 0 auto;       
  background-color: #ffffff;
  border-radius: 33px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08); 
  padding: 40px 50px;            
  position: relative;
  padding-top: 15px; 
  padding-left: 35px;
  z-index: 1;               
}

.page-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;        
  font-size: 50px;         
  color: #00321D;
  margin: 0 0 10px 0;      
  line-height: 1.1;       
}

.page-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;        
  font-size: 12px;         
  color: #C2C2C2;          
  margin: 5px 0 25px 0;   
  line-height: 1.4;
}

.search-wrapper {
  position: relative;
  width: 300px;     
  margin-bottom: 60px;      
}

.search-input {
  width: 100%;
  padding: 5px 45px 4px 18px; 
  background-color: #DDEAE4;
  border: none;
  border-radius: 29px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #00321D;
  outline: none;
}

.search-icon {
  position: absolute;
  right: -50px;              
  top: 50%;
  transform: translateY(-50%);
  width: 25px;               
  height: 30px;
  pointer-events: none;    
}

.plant-card {
  background-color: #ffffff;
  border-radius: 33px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 200px;
  box-sizing: border-box;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.plant-card .plant-name {
  color: #2B5443;     
  font-family: 'Poppins', sans-serif;
  font-weight: 700;     
  font-size: 22px;         
  font-weight: 600;        
  margin-top: 0;           
  margin-bottom: 10px;     
  line-height: 1.2;        
}

.plant-card .plant-description {
  background-color: #DDEAE4;   
  color: #25503E;       
  font-family: 'Poppins', sans-serif;      
  font-size: 14px;             
  padding: 14px 0px 5px 10px;          
  border-radius: 5px;        
  margin: 0px 5px 12px 0;        
  line-height: 1.4;            
}

.plant-card .plant-frequency,
.plant-card .plant-last-watered {
  color: #2B5443;        
  font-family: 'Poppins', sans-serif;
  font-size: 15px;       
  font-weight: 500;      
  margin: 15px 0;        
  line-height: 1.3;
}

section {
  background: transparent; 
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 0;
  box-shadow: none;
}
#plants-list,
#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.plant-card button {
  background-color: #267454;   
  color: #DEF8EB;             
  border: none;
  border-radius: 30px;         
  padding: 7px 16px;          
  font-size: 14px;            
  font-weight: 400;            
  cursor: pointer;               
  text-align: center;         
  margin-top: 10px;    
  width: 48%;          
  transition: background 0.2s ease;
}

.plant-card button:hover {
  background-color: #1F5E45;
}

.plant-card .delete-btn {
  background-color: #164F38;  
  font-size: 14px;             
  padding: 7px 10px;          
  width: auto;                 
  display: inline-block;     
  margin-left: 15px
}


h2 {
  margin-top: 0;
}




button {
  cursor: pointer;
}

.edit-form {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #f9f9f9;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  margin-top: 15px;
}

#gallery img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.photo-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.photo-item img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.delete-photo-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

#modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
